* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #111;
    color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #cccccc;
}

.banner {
    height: 500px;

    background:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../img/banner.jpg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

.banner-conteudo h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.banner-conteudo p {
    font-size: 20px;
    margin-bottom: 25px;
}

.banner-conteudo button {
    background-color: #111;
    color: white;

    border: none;
    padding: 14px 30px;

    font-size: 16px;
    cursor: pointer;
}

.banner-conteudo button:hover {
    background-color: #333;
}

.banner-conteudo {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;

    padding: 40px;
    border-radius: 10px;
}

.Produtos {
    padding: 60px 40px;
}

.produtos h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.grade-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-produto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card-produto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.card-produto h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card-produto p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-produto button {
    background-color: #111;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}

.card-produto button:hover {
    background-color: #333;
}